# Telegram Bot Token (BotFather থেকে)
TELEGRAM_BOT_TOKEN=8878710285:AAFBkHc2FFV_5EjA1FJ1rbgsrj-Z6TaxZC0

# আপনার Telegram Chat ID
TELEGRAM_CHAT_ID=6851275704

# Admin Dashboard Password
ADMIN_PASSWORD=Afjal7380

# Vercel KV (Vercel Dashboard → Storage → KV)
KV_URL=
KV_REST_API_URL=
KV_REST_API_TOKEN=
KV_REST_API_READ_ONLY_TOKEN=
